*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main{
	background: #CFEAF0;
	height: auto;
	width: 100%;
}
.header{
	height: 100px;
	width: 100%;
	background: white;
	box-shadow: 0px 2px 2px rgba(128, 122, 122, 0.35);
}
.header img{
	height: 80px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}
.header ul{
	float: right;
	margin-right: 30px;
}
.header ul li{
	display: inline-block;
	margin-top: 50px;
	margin-left: 20px;
	font-size: 17px;
	font-weight: bold;
	color: #252727;
}
.checkbtn{
	font-size: 30px;
	color: #262727;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

.middle{
	display: flex;
}
.middle .img{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.middle .img .box{
	display: flex;
	flex-direction: column;
	width: 30%;	
}
.middle .img .box img{
	width: 100%;
	height: 250px;	
	padding: 5px;
	border-radius: 20px;
	margin-left: 200%;
	margin-top: 20px;
}
@media (max-width: 1050px){
	.header img{
	height: 70px;
	float: left;
	margin-left: 30px;
	margin-top: 8px;
	}
	.header ul li{
		font-size: 18px;
	}
}
@media (max-width: 852px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		text-align: center;
		width: 100%;
		height: 100vh;
		left: -100%;
		top: 100px;
	}
	ul li{
		display: block;
	}
	#check:checked ~ ul{
		left: 0;
	}
	.middle .img .box img{
		width: 100%;
		height: 120px;	
		padding: 3px;
		margin-left: 50%;
		margin-top: 10px;
	}
}
@media (max-width: 350px){
	.header{
		height: 70px;
	}
	.header img{
	height: 60px;
	float: left;
	margin-left: 20px;
	margin-top: 8px;
	}
	.header ul li{
		font-size: 15px;
	}
	/*.middle .img .box img{
		width: 100%;
		height: 100px;	
		padding: 3px;
		margin-left: 50%;
		margin-top: 10px;
	}*/
}